<!-- Modals-->
<div id="modal-<%= student._id%>" class="uk-border-rounded" uk-modal>
  <div class="uk-modal-dialog uk-border-rounded">
    
    <div class="uk-modal-header">
        <h2 class="uk-modal-title"><%= student.firstName + " " + student.lastName %></h2>
        <button class="uk-modal-close-default" type="button" uk-close>
        </button>
    </div>

    <form action="/main/openAI" method="GET" id="form<%=student._id%>">
      <div class="uk-modal-body">
        <table class="uk-table uk-table-responsive uk-table-striped">
          <thead>
              <tr>
                  <th>Word</th>
                  <th>Phrase</th>
                  <th>Sentence</th>
              </tr>
          </thead>
          <tbody> 
              
                <% for(a=0; a < wordList.length; a++){ %>
                    <tr>
                        <td><%= wordList[a] %></td>
                        <input value="<%=wordList[a]%>" form="form<%=student._id%>" name="words[]" type="hidden">
                        <td><% if(phrases && phrases.length>0){ %>
                            <%= phrases[a]; %>
                            <% } %>
                          </td>
                        <td><% if(sentences && sentences.length>0){ %>
                            <%= sentences[a];%>
                            <% } %>
                          </td>
                    </tr>
                <% } %>
          
          </tbody>
        </table>
      </div>
      <input value="<%=student._id%>" form="form<%=student._id%>" name="student_ID" type="hidden">

      <input value="<%=providers._id%>" form="form<%=student._id%>" name="provider_ID" type="hidden">
      <div class="uk-modal-footer uk-flex uk-flex-between"><!-- Button to generate phrases -->
        <button type="submit" method="GET" class="uk-button-text" style="background: none; border: none; padding: 0;">
          <span uk-icon="icon: bolt" class="uk-icon-link"> generate</span>
        </button> 

        <button type="submit" method="GET" class="uk-button-text" style="background: none; border: none; padding: 0;">
          <span uk-icon="icon: pencil" class="uk-icon-link"> edit </span>
        </button> 
      </div>

    </form>
  </div>
</div>
