<div class="modal fade" id="<%= student._id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
      <h1 class="modal-title fs-5" id="staticBackdropLabel"><%= student.name %></h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
          <div class="modal-body" >
              <div class="container-fluid">
                  <table class="table table-sm">
                      <thead>
                          <tr>
                              <th scope="col">Word</th>
                              <th scope="col">Phrase</th>
                              <th scope="col">Sentence</th>
                          </tr>
                      </thead>
                      <tbody> 
                          <form id="form<%=student._id%>">
                            <% for(a=0; a < wordList.length; a++){ %>
                                <tr>
                                    <td><%= wordList[a] %></td>
                                    <input value="<%=wordList[a]%>" form="form<%=student._id%>" name="words[]" type="hidden">
                                    <td><!-- if(phrases){}--></td>
                                    <td><!-- if(sentences){}--></td>
                                </tr>
                            <% } %>
                          </form>
                      </tbody>
                  </table>
              </div>
          </div>
  <div class="modal-footer">
        <!-- Button to generate phrases & sentences-->
        <button type="button" class="btn btn-secondary" method="GET">
          Generate
        </button>
      
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Understood</button>
      </div>
  </div>
  </div>
</div>